unsafe-perm=true
@sag:registry=https://pkgs.dev.azure.com/SubdepartamentoSolucionesTI/_packaging/SubdepartamentoSolucionesTI/npm/registry/                         
always-auth=true
registry=https://registry.npmjs.org